.contacto{
    padding:25px 200px;
    
    display: flex;
    background-color: #a4c2be;

}
.con_tel{
    width: 30%;
    margin-right: 5%;
}
.con_tel img{
    width: 100%;
}

textarea{
    resize: none;
    background-color: #D9EAE8;
    border: none;
    outline: none;
    font-size: 17px;
    font-family:'Raleway', sans-serif;
}
.form_contactos{   
    width: 60%;
}
.foulario{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #D9EAE8;
    margin-bottom: 10px;
}
.form_contactos label{
    margin-bottom:5px;
}

.form_contactos input{
    background-color: #D9EAE8;
    border: none;
    outline: none;
    font-size: 17px;
    font-family:'Raleway', sans-serif;
}
.autor{
    display: flex;
    justify-content: center;
}
.boton_enviar{
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 8px;
    border: none;
    background-color: #b5d3cf;
    transition:all 1s;
}
.boton_enviar:hover{
    background-color: #66bbb0;
}

@media screen and (max-width: 780px){
    .con_tel{
        display: none;
    }
    .contacto{
        justify-content: center;
        padding: 25px 30px;
    }
    .form_contactos{
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .autor{
        font-size: 14px;
    }
   .form_contactos label{
    font-size: 14px;
   }
   .form_contactos input{
    font-size: 13px;
   } 
   textarea{
    font-size: 13px;
   }
}